<div class="tm-re_listing-controls">
    <form accept-charset="UTF-8" action="#" class="tm-re-property-sort" id="tm-re-property-sort" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="dWLPVco5xY/XXPHuPGf1N3sJfCFdZb3U/tkL8SirSCg="></div>
        <label>
            <span class="tm-re-property-sort__label">Ordenar por:</span>
            <div class="jq-selectbox jqselect" id="ordenar-styler" style="display: inline-block; position: relative;">
                <select id="ordenar" name="ordenar" [(ngModel)]="searchParams.order" (change)="changeOrder()">
                    <option value="neighborhood">Bairro</option>
                    <option value="city">Cidade</option>
                    <option value="bedroom">Dormitórios</option>
                    <option value="suite">Suítes</option>
                    <option value="garage">Vagas</option>
                    <option value="useful_area">Área</option>                                       
                    <option [class.disabled]="searchParams.availability == 'rent'" value="sale_value">Valor de Venda</option>                        
                    <option [class.disabled]="searchParams.availability == 'buy'" value="rental_value">Valor de Locação</option>                 
                </select>
            </div>            
        </label>
    </form>
    <!-- Listing Type -->
    <form accept-charset="UTF-8" action="#" class="tm-re-switch-layout" id="tm-re-switch-layout" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓">
            <input name="authenticity_token" type="hidden" value="dWLPVco5xY/XXPHuPGf1N3sJfCFdZb3U/tkL8SirSCg=">
        </div>
        <input id="tm-re-switch-layout-nonce" name="tm-re-switch-layout-nonce" type="hidden" value="74c1badf88">
        <button class="tm-re-switch-layout__btn tm-re-layout--grid tm-re-switch-layout__btn--active" type="button" value="grid"
            (click)="changeListView($event)">Grid</button>
        <button class="tm-re-switch-layout__btn tm-re-layout--list" type="button" value="list" (click)="changeListView($event)">List</button>
    </form>
</div>

<!-- list de imóveis -->
<div id="visualizar_lista" class="tm-property__wrap template-archive regular grid">
    <!-- estrutura básica de card de imóvel -->
    <div class="tm-property__item clearfix odd tm-property-has-thumb" *ngFor="let property of properties">
        <div class="tm-property__inner">
            <div class="tm-property__photo">
                <ng-container *ngIf="rentalSearch === true || property.tags.indexOf('sale'); else sale">
                    <div class="tm-property__status tags-rent">
                        {{(property.tags.indexOf('rent') != -1)? 'Locação': ''}}
                        {{(property.tags.indexOf('vacation_rental') != -1)? 'Temporada': ''}}
                        {{(property.tags.length == 2)? ' / ': ''}}
                        {{(property.tags.indexOf('sale') != -1)? 'Venda': ''}}
                    </div>
                </ng-container>
                <ng-template #sale>
                    <div class="tm-property__status tags-sale">
                        {{(property.tags.indexOf('sale') != -1)? 'Venda': ''}}
                        {{(property.tags.length == 2)? ' / ': ''}}
                        {{(property.tags.indexOf('rent') != -1)? 'Locação': ''}}
                        {{(property.tags.indexOf('vacation_rental') != -1)? 'Temporada': ''}}
                    </div>
                </ng-template>
            <figure class="tm-property__image">
                    <a routerLink="{{(property.site_url)? property.site_url : '/imovel/codigo/' + property.code}}">
                        <lazy-loading-image>
                            <img alt="Ver mais detalhes de {{property.property_type}} em {{property.neighborhood}} - {{property.city}}/{{property.state}}"
                                onerror="imgErrorHandler(this)" *ngIf src="{{property.cover_photo.url}} " title="Mais detalhes">
                        </lazy-loading-image>
                    </a>
                </figure>
            </div>
            <div class="tm-property__content">
                <h6 class="tm-property__title">
                    <a (click)="saveCursor()" routerLink="{{(property.site_url)? property.site_url : '/imovel/codigo/' + property.code}}">
                        {{property.neighborhood}}
                    </a></h6>
                <h6 class="tm-property__price">
                    <ng-container *ngIf="property.site_publish_price else consult">
                        <ng-container *ngIf="rentalSearch !== true && property.sale_value; else rentalValue">
                            {{property.sale_value | currency:'BRL' : symbol : '1.0-0'}}
                        </ng-container>
                        <ng-template #rentalValue>
                            {{property.rental_value | currency:'BRL' : symbol : '1.0-0'}}
                        </ng-template>
                    </ng-container>
                    <ng-template #consult>
                        Consulte!
                    </ng-template>
                </h6>
                <div class="tm-property__excerpt" *ngIf="property.site_description">
                    {{(property.site_description.length <= 85)? property.site_description : (property.site_description.slice(0, 85) + '...')}}
                </div>
                <div class="tm-property__attributes">
                    <span *ngIf="property.bedroom" class="tm-property__attributes-bedrooms" title="{{property.bedroom > 1 ?'Dormitórios' :'Dormitório'}}">{{ property.bedroom }}</span>
                    <span *ngIf="property.suite" class="tm-property__attributes-bathrooms" title="{{property.suite > 1 ?'Suítes' :'Suíte'}}">{{ property.suite }}</span>
                    <span *ngIf="property.bathroom" class="tm-property__attributes-toilet" title="{{property.bathroom > 1 ?'Banheiros' :'Banheiro'}}">{{ property.bathroom }}</span>
                    <span *ngIf="property.garage" class="tm-property__attributes-parking-spot" title="{{property.garage > 1 ?'Vagas' :'Vaga'}}">{{ property.garage }}</span>
                    <span *ngIf="property.area" class="tm-property__attributes-area" title="Área Construída">{{ property.area }} m²</span>
                    <span *ngIf="property.lot_area" class="tm-property__attributes-area" title="Área do terreno">{{ property.lot_area }} m²</span>
                    <span *ngIf="property.useful_area" class="tm-property__attributes-area" title="Área Útil">{{property.useful_area}} m²</span>
                </div>
                <div class="tm-property__footer clearfix">
                    <div class="tm-property__footer-left">
                        <div class="tm-property__type">{{property.property_type}}</div>
                        <div class="tm-property__code">Cód. {{property.code}}</div>
                    </div>
                    <a routerLink="{{(property.site_url)? property.site_url : '/imovel/codigo/' + property.code}}" class="btn btn-default tm-property__more">Detalhes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- paginação -->
    <!-- Os comentários abaixo habilitam os botões para o cliente navegar para primeira e última página respectivamente. Caso habilitado, verificar estilo dos links -->
    <div class="pagination" [class.disabled]="propertiesCount == 0" *ngIf="propertyPagination && propertyPagination.totalPages">
        <!-- <a class="first_page" href="" (click)="firstPage(propertyPagination.start)" 
                [class.disabled]="searchParams.page <= 1">Primeira</a> -->

        <a class="previous_page" href="" (click)="searchParams.page && searchParams.page >= 2 && previousPage(searchParams.page-1)" 
            [class.disabled]="searchParams.page <= 1">Anterior</a>

        <span><b *ngIf="searchParams">{{searchParams.page}}</b></span> 

        <a class="next_page" href="" (click)="nextPage((searchParams.page)? searchParams.page + 1: 2)" 
            [class.disabled]="propertyPagination.totalPages == searchParams.page"  rel="next">Próxima</a>

        <!-- <a class="last_page" href="" (click)="lastPage(propertyPagination.totalPages)" 
                [class.disabled]="propertyPagination.totalPages == searchParams.page" rel="next">Última</a> -->
    </div>

</div>
