#backButton, .anexo_remover {
    cursor: pointer;
}

.message-error {
    left:150px !important;
}

.message-success {
    left:150px !important;
}

.message-error-textarea {
    left: 150px !important;
}

.message-success-textarea {
    left: 150px !important;
}