#single-property {
    position: static;
}
.tm-re-search-form__group {
    margin-bottom: 12px;
}
.invalidAlert {
    color: white!important;
    padding: 5px 0px;
}
.tm-re-search-form__submit {
    width: 100%;
    padding: 11px 5px 12px;
}
.tm-property__wrap {
    margin-left: 0 !important;
    margin-right: 0 !important;
}